/*color pallet
    #35393C Onyx
    #42858C steal Teal
    #5DA399 Polished Pine
    #63CCCA Medium Turquoise
    #397367 Hookers Green
*/

body {
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 4vw;
  background-color: #35393c;
  color: #63ccca;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.unknown {
  background-color: #35393c;
}

.hit {
  background-color: #fa5b33;
}

.miss {
  background-color: #5da399;
}

.ship {
  background-color: #42858c;
}
