/*color pallet
    #c8e7f7 Sky
    #006172 foreground blue
    #013240 Background Blue
    #001a21 Darkest Blue
*/

body {
  margin: 0px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 3vw;
  background-color: #35393c;
  color: #001a21;
  overflow: hidden; /*hide scroll bars*/
  transition: 0.5s;
}

h1 {
  color: #013240;
  text-shadow: -1px -1px 3px #c8e7f7;
}

.grid {
  display: flex;
  flex-direction: column;
  height: 700px;
  width: 700px;
  box-shadow: 5px 15px 25px #001a21;
}

@media only screen and (max-width: 700px) {
  .grid {
    height: 350px;
    width: 350px;
  }
}

.row {
  flex: 1 0 auto;
  display: flex;
  align-items: stretch;
  border: 2px solid #c8e7f7;
}

.cell {
  border: 2px solid #c8e7f7;
  margin: -2px;
  padding: 0px;
  flex: 1 0 auto;
  height: auto;
  align-items: stretch;
}

button {
  background-color: #c8e7f7;
  color: #013240;
  border: 2px solid #013240;

  border-radius: 20px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-weight: 100;
  padding: 20px;
  font-size: 4vw;
  opacity: 50%;
  text-shadow: black;
}

button:hover {
  box-shadow: 5px 10px 30px #013240;

  transition: 0.2s;
}

button:active {
  border: 2px solid #c8e7f7;
  background-color: #013240;
  color: #c8e7f7;
}

#NewBattleModal {
  background-image: url("./img/ShipsOfBattleTitleTop.png");
}

#InfoModal {
  background-image: url("./img/overlayTall.png");
  display: none;
}

.modal {
  font-size: 2vw;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  width: 100%;
  height: 100%;

  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */

  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  opacity: 0.9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 1;
  text-align: center;
}

.NewBattleScreen {
  height: 100vh;
  width: 100%;
  background-image: url("./img/ocean_desktop.jpeg");

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.YourFleetScreen {
  height: 100vh;
  width: 100%;
  background: linear-gradient(0deg, rgba(1, 50, 64, 0.8), rgba(1, 50, 64, 0.8)),
    url("./img/ocean_desktop.jpeg");

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.yourGrid {
  opacity: 100%;
}

.EnemyWatersScreen {
  height: 100vh;
  width: 100%;
  background: linear-gradient(0deg, rgba(1, 50, 64, 0.9), rgba(1, 50, 64, 0.9)),
    url("./img/ocean_desktop.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.unknown {
  background-color: #006172;
}

.hit {
  background-color: #ee1414;
}

.miss {
  background-color: #e0e6e5;
}

.ship {
  background-color: #35393c;
}
